[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
urllib3 = "*"
dash = "*"
dash-bootstrap-components = "*"
numpy = "*"
plotly-express = "*"
sklearn = "*"
category-encoders = "*"
seaborn = "*"

[requires]
python_version = "3.7"
